@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #82807d;
    --cor-secundaria: #f1f1f1;
    --fonte-primaria: 'Outfit', sans-serif;
}

body{
    box-sizing: border-box;
    background-color: #f3e5d8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.apresentacao-conteudo{
    width: 600px;
    padding: 15px;
    border-radius: 16px;
    background-color: #ffffff;
    text-align: center;
    margin: 50px;
}

.apresentacao-imagem{
    margin-top: 7%;
    align-items: center;
    justify-content: center;
    border-radius: 21px;
    width: 550px;
}

.apresentacao-prato{
    margin: 5%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 25px;
}

.apresentacao-prato-titulo{
    font-family: var(--fonte-primaria);
    color: #2f2f2f;
    font-size: 35px;
    font-weight: 700;
}

.apresentacao-prato-introducao{
    font-family: var(--fonte-primaria);
    color: var(--cor-primaria);
    font-weight: 600;
}

.apresentacao-duracao{
    margin: 4%;
    padding: 3%;
    border-radius: 21px;
    background-color: #fff7fc;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.apresentacao-duracao-tempo{
    padding-bottom: 2%;
    font-family: var(--fonte-primaria);
    font-size: 20px;
    font-weight: 700;
    color: #6d2744;
}
.apresentacao-lista{
    margin: 2%;
}

.apresentacao-lista-conteudo{
    color: var(--cor-primaria);
    padding-left: 10px;
    margin: 10px;
    font-family: var(--fonte-primaria);
}

.apresentacao-secao{
    margin: 2%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.apresentacao-titulo{
    font-family: var(--fonte-primaria);
    font-size: 32px;
    padding-bottom: 4%;
    font-weight: 600;
    color: #7d4735;
}

.footer{
    background-color: var(--cor-secundaria);
    text-align: center;
    padding: 1px;
    margin: 0px 25px 0px;
}

.apresentacao-conteudo-lista{
    color: var(--cor-primaria);
    margin: 10px;
}

.apresentacao-secao-texto-nutricao{
    color: var(--cor-primaria);
    text-align: left;
    font-family: var(--fonte-primaria);
    padding-bottom: 4%;
}

.apresentacao-tabela{
    width: 100%;
    border-collapse: collapse;
}

.apresentacao-tabela-tr{
    border-bottom: 2px solid var(--cor-secundaria);
}

.apresentacao-tabela-td{
    color: var(--cor-primaria);
    text-align: left;
    font-weight: 600;
    font-family: var(--fonte-primaria);
    padding: 4%;
}